@import 'nav';
@import 'landing';
@import 'infograph';
@import 'services';
@import 'news';
@import 'footer';

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Iceberg&family=Iceland&family=Inconsolata:wght@400;500;600;700&family=Kelly+Slab&display=swap');

/* variables */

:root {
    /* colors */
    --titleColor: #fff;
    --accentColor: #0078d4;
    --paraColor: #dbdbdb;
    /* fonts */
    --title: 3.5em;
    --subtitle: 2em;
    --para: 1.5em;
}


/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-family: 'Iceberg', 'Iceland', 'Kelly Slab', cursive;
    scroll-behavior: smooth;
    background: rgb(0, 0, 0);
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.logo {
    color: var(--accentColor);
    font-family: 'Kelly Slab', cursive;
    font-weight: bold;
    font-style: italic;
    text-shadow: rgb(255, 255, 255) 1px 2px;
}

.media-query-image {
    display: none;
}


/* ------ Media Queries ---- */

@media screen and (max-width: 1232px) {}

@media screen and (max-width: 902px) {}

@media screen and (max-width: 822px) {}

@media screen and (max-width: 650px) {}